<div class="general-info">
  <div class="tui-text_body-xl">
    <p class="general-info__paragraph">
      As stout and skilled dwarves, we embark on a grand adventure to celebrate the legacy of our people.
      <b>The Dwarves store</b> project is a testament to our craftsmanship, resilience, and deep appreciation for our
      cultural heritage. By crafting this immersive experience, we seek to share the essence of what it means to be a
      dwarf and showcase the magnificence of our traditions to the wider world.
    </p>

    <p class="general-info__paragraph">
      While we are proud of our work on <b>The Dwarves store</b>, we also carry a slight trepidation in our hearts. Our
      oldest dwarf and revered leader, <b>George Stonebeard</b>, has been the guiding light of our clan for ages. As we
      venture into this ambitious project, we fear that our efforts might not fully meet George's expectations. His
      approval means the world to us, and we strive to create a world that would make him proud. But like any true
      family, we face challenges together and trust that with his wise counsel, **ECommerce** will become the
      masterpiece we all envision.
    </p>
  </div>

  <div class="general-info__mentor">
    <img class="general-info__mentor-photo" src="/assets/icons/egor-supra.webp" alt="our mentor" />
    <p class="tui-text_body-m general-info__mentor-description">
      Our leader and mentor. He seems severe and ruthless. But in reality he is adorable and kind.
    </p>
  </div>
</div>
