<tui-island class="general-info shadow-block">
  <div class="tui-text_body-xl general-info__paragraph">
    Hello there! In our team we prioritize effective communication as the foundation of our teamwork. With just three of
    us, we keep it simple and efficient. We chat daily to stay updated, use Jira for organized project management,
    ensure top-notch work through code reviews, and always lend a helping hand to each other, sharing knowledge and
    skills. Our close-knit collaboration ensures we deliver top-quality results.
  </div>

  <div class="general-info__mentor">
    <img class="general-info__mentor-photo" src="/assets/icons/egor-supra.webp" alt="our mentor" />
    <p class="tui-text_body-m general-info__mentor-description">
      Our leader and mentor. He seems severe and ruthless. But in reality he is adorable and kind.
    </p>
  </div>
</tui-island>
