<header class="header">
  <div class="header__block">
    <img class="" [routerLink]="['/']" height="100" width="100" ngSrc="/assets/icons/header.svg" />

    <nav class="header__navigation">
      <tui-tabs-with-more [activeItemIndex]="0" [underline]="false">
        <button *tuiItem tuiTab [routerLink]="['/']">
          <tui-svg appearance="outline" src="tuiIconHome"></tui-svg>
          Home
        </button>

        <button *tuiItem tuiTab [routerLink]="['/', 'about']">
          <tui-svg appearance="outline" src="tuiIconSmile"></tui-svg>
          About us
        </button>

        <button *tuiItem tuiTab [routerLink]="['/', 'catalog']">
          <tui-svg appearance="outline" src="tuiIconTruck"></tui-svg>
          Our goods
        </button>

        <button *tuiItem tuiTab [routerLink]="['/auth/sign-in']">
          <tui-svg appearance="outline" src="tuiIconUserPlus"></tui-svg>
          Sign in
        </button>

        <button *tuiItem tuiTab [routerLink]="['/auth/sign-up']">
          <tui-svg appearance="outline" src="tuiIconUserCheck"></tui-svg>
          Sign up
        </button>

        <button *tuiItem tuiTab appearance="outline" [routerLink]="['/']">
          <tui-svg appearance="outline" src="tuiIconUser"></tui-svg>
          User
        </button>

        <button *tuiItem tuiTab appearance="outline" [routerLink]="['/']">
          <tui-svg appearance="outline" src="tuiIconShoppingCart"></tui-svg>
          Cart
        </button>
      </tui-tabs-with-more>
    </nav>

    <div class="header__buttons-container" *ngIf="isUser$ | async">
      <button
        tuiIconButton
        size="s"
        appearance="outline"
        [routerLink]="['/']"
        icon="tuiIconLogOut"
      ></button>
    </div>
  </div>
</header>
