<div class="product-details" *ngIf="productDetails$ | async as productDetails">
  <div class="product-details__photos" *ngIf="productDetails.images">
    <ec-product-details-carousel [images]="productDetails.images" />
  </div>

  <h3 class="tui-text_h3 product-details__heading">{{ productDetails.name }}</h3>

  <p class="tui-text_body-xl product-details__description" *ngIf="productDetails.description">
    {{ productDetails.description }}
  </p>

  <div class="product-details__info">
    <ng-container *ngIf="productDetails.attributes && productDetails.attributes.length">
      <ec-product-attributes [attributes]="productDetails.attributes" />
    </ng-container>
  </div>

  <div class="product-details__price">
    <button tuiButton type="button" appearance="primary">
      <span>Get for</span>
      <ng-container *ngIf="productDetails.prices.discounted; else noDiscount">
        <tui-money
          class="product-details__price--discount tui-island__paragraph"
          currency="USD"
          [value]="productDetails.prices.discounted"
        >
        </tui-money>
        <tui-money
          class="product-details__price--inactive tui-island__paragraph"
          currency="USD"
          [value]="productDetails.prices.default"
        >
        </tui-money>
      </ng-container>

      <ng-template #noDiscount>
        <tui-money class="product__price--default" currency="USD" [value]="productDetails.prices.default"> </tui-money>
      </ng-template>
    </button>
  </div>
</div>
