<tui-island class="island shadow-block">
  <form [formGroup]="singUpForm" (ngSubmit)="onSubmit()">
    <h2 class="tui-form__header sign-up-logo tui-form__header_margin-top_none">Registration</h2>

    <div class="tui-form__row">
      <tui-input
        tuiTextfieldSize="m"
        formControlName="email"
        tuiHintContent="Email address must be properly formatted (e.g., user@example.com)"
      >
        <input tuiTextfield type="email" autocomplete="username" />
        Email
        <span class="tui-required"></span>
      </tui-input>
      <tui-error formControlName="email" [error]="[] | tuiFieldError | async" />
    </div>

    <div class="tui-form__row">
      <tui-input
        tuiTextfieldSize="m"
        formControlName="firstName"
        tuiHintContent="Must contain at least one character and no special characters or numbers"
      >
        <input tuiTextfield />
        First name
        <span class="tui-required"></span>
      </tui-input>
      <tui-error formControlName="firstName" [error]="[] | tuiFieldError | async" />
    </div>

    <div class="tui-form__row">
      <tui-input
        tuiTextfieldSize="m"
        formControlName="lastName"
        tuiHintContent="Must contain at least one character and no special characters or numbers"
      >
        <input tuiTextfield />
        Last name
        <span class="tui-required"></span>
      </tui-input>
      <tui-error formControlName="lastName" [error]="[] | tuiFieldError | async" />
    </div>

    <div class="tui-form__row">
      <tui-input-password
        tuiTextfieldSize="m"
        formControlName="password"
        tuiHintContent="Password must be at least 8 characters long and have 1 latin uppercase letter, 1 lowercase letter, 1 number, and no leading or trailing spaces"
        ><input tuiTextfield autocomplete="new-password" placeholder="Make it secure!" />Password
        <span class="tui-required"></span>
      </tui-input-password>
      <tui-error formControlName="password" [error]="[] | tuiFieldError | async" />
    </div>

    <div class="tui-form__row">
      <tui-input-date
        tuiTextfieldSize="m"
        tuiTextfieldExampleText="Placeholder"
        formControlName="dateOfBirth"
        tuiHintContent="Please enter your date of birth. We are serving customers over 13 years old"
      >
        Date of birth
        <span class="tui-required"></span>
      </tui-input-date>
      <tui-error formControlName="dateOfBirth" [error]="[] | tuiFieldError | async" />
    </div>

    <div class="tui-form__row">
      <tui-input tuiTextfieldSize="m" formControlName="street" tuiHintContent="Must contain at least one character">
        <input tuiTextfield />
        Street
        <span class="tui-required"></span>
      </tui-input>
      <tui-error formControlName="street" [error]="[] | tuiFieldError | async" />
    </div>

    <div class="tui-form__row">
      <tui-input
        tuiTextfieldSize="m"
        formControlName="city"
        tuiHintContent="Must contain at least one character and no special characters or numbers"
      >
        <input tuiTextfield />
        City
        <span class="tui-required"></span>
      </tui-input>
      <tui-error formControlName="city" [error]="[] | tuiFieldError | async" />
    </div>

    <div class="tui-form__row">
      <tui-input
        tuiTextfieldSize="m"
        formControlName="postalCode"
        tuiHintContent="Must follow the format for the country (e.g., 12345 or A1B 2C3 for the U.S. and Canada, respectively)"
      >
        <input tuiTextfield />
        Postal code
        <span class="tui-required"></span>
      </tui-input>
      <tui-error formControlName="postalCode" [error]="[] | tuiFieldError | async" />
    </div>

    <div class="tui-form__row">
      <tui-select formControlName="country" tuiTextfieldSize="m">
        Country
        <tui-data-list *tuiDataList>
          <tui-opt-group>
            <button
              *ngFor="let country of countryArray; trackBy: countryTrackByFn"
              tuiOption
              [value]="country"
              (click)="updateShippingPostalCodeValidation()"
            >
              {{ country }}
            </button>
          </tui-opt-group>
        </tui-data-list>
      </tui-select>
    </div>

    <div class="tui-form__row tui-form__row_multi-fields">
      <tui-checkbox-block
        size="m"
        contentAlign="right"
        formControlName="defaultShippingAddress"
        class="tui-form__multi-field"
      >
        Set as default shipping address
      </tui-checkbox-block>
    </div>

    <tui-accordion-item class="container" (openChange)="toggleStatusBillingAddressField()" class="tui-form__row">
      Set billing address
      <ng-template tuiAccordionItemContent>
        <div class="tui-form__row">
          <tui-checkbox-block
            size="m"
            (ngModelChange)="toggleShippingAddressToBillingAddress()"
            formControlName="copyAddressCheckbox"
            contentAlign="left"
          >
            <div class="inner inner_flex">Write shipping address to billing address</div>
          </tui-checkbox-block>
        </div>

        <div class="tui-form__row">
          <tui-input
            tuiTextfieldSize="m"
            formControlName="billingStreet"
            tuiHintContent="Must contain at least one character"
          >
            <input tuiTextfield />
            Street
            <span class="tui-required"></span>
          </tui-input>
          <tui-error formControlName="billingStreet" [error]="[] | tuiFieldError | async" />
        </div>

        <div class="tui-form__row">
          <tui-input
            tuiTextfieldSize="m"
            formControlName="billingCity"
            tuiHintContent="Must contain at least one character and no special characters or numbers"
          >
            <input tuiTextfield />
            City
            <span class="tui-required"></span>
          </tui-input>
          <tui-error formControlName="billingCity" [error]="[] | tuiFieldError | async" />
        </div>

        <div class="tui-form__row">
          <tui-input
            tuiTextfieldSize="m"
            formControlName="billingPostalCode"
            tuiHintContent="Must follow the format for the country (e.g., 12345 or A1B 2C3 for the U.S. and Canada, respectively)"
          >
            <input tuiTextfield />
            Postal code
            <span class="tui-required"></span>
          </tui-input>
          <tui-error formControlName="billingPostalCode" [error]="[] | tuiFieldError | async" />
        </div>

        <div class="tui-form__row">
          <tui-select formControlName="billingCountry" tuiTextfieldSize="m">
            Country
            <tui-data-list *tuiDataList>
              <tui-opt-group>
                <button
                  *ngFor="let country of countryArray; trackBy: countryTrackByFn"
                  tuiOption
                  [value]="country"
                  (click)="updateBillingPostalCodeValidation()"
                >
                  {{ country }}
                </button>
              </tui-opt-group>
            </tui-data-list>
          </tui-select>
        </div>

        <div class="tui-form__row tui-form__row_multi-fields">
          <tui-checkbox-block
            size="m"
            contentAlign="right"
            formControlName="defaultBillingAddress"
            class="tui-form__multi-field"
          >
            Set as default billing address
          </tui-checkbox-block>
        </div>
      </ng-template>
    </tui-accordion-item>
    <div class="tui-form__row">
      <button tuiButton size="m" type="submit" class="tui-form__button button-center" [disabled]="singUpForm.invalid">
        Submit
      </button>
    </div>
  </form>
  <h3 class="logo-redirect">If you have an account, please <a tuiLink routerLink="/auth/sign-in">login</a></h3>
</tui-island>
