<form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
  <h2 class="tui-form__header tui-form__header_margin-top_none">Login</h2>

  <div class="tui-form__row">
    <tui-input
      tuiTextfieldExampleText="Field placeholder"
      formControlName="email"
      tuiHintContent="Email address must be properly formatted (e.g., user@example.com)."
    >
      <input tuiTextfield type="email" autocomplete="username" />
      Email
      <span class="tui-required"></span>
    </tui-input>
  </div>

  <div class="tui-form__row">
    <tui-input-password
      formControlName="password"
      tuiHintContent="Password must minimum 8 latin characters, at least 1 latin uppercase letter, 1 lowercase letter, 1 number, and no space with start and end"
      ><input tuiTextfield autocomplete="new-password" placeholder="Make it secure!" />Password
      <span class="tui-required"></span>
    </tui-input-password>
  </div>

  <div class="tui-form__buttons">
    <button tuiButton size="m" type="submit" class="tui-form__button" [disabled]="signInForm.invalid">Submit</button>
  </div>
</form>
