<ng-container *ngIf="isProductsLoading$ | async; else productsTemplate">
  <tui-loader [showLoader]="true" size="xl"></tui-loader>
</ng-container>

<ng-template #productsTemplate>
  <ng-container *ngIf="products$ | async as products">
    <ng-container *ngIf="products.length; else noProducts">
      <div class="products__list">
        <ec-product-card *ngFor="let product of products" [product]="product" class="products__card" />
      </div>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #noProducts>
  <div class="products__empty">
    <p class="tui-text_h4">No products found :(</p>
  </div>
</ng-template>
