.products {
  $card-width: 330px;

  &__empty {
    color: var(--tui-text-02);
    text-align: center;
  }

  &__list {
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fill, $card-width);
    gap: 1.5em;
    justify-content: center;
    justify-items: center;
  }

  &__card {
    width: $card-width;
  }
}

@media (width <= 580px) {
  .products {
    &__list {
      grid-template-columns: 1fr;
    }

    &__card {
      width: auto;
    }
  }
}
