.carousel {
  display: flex;
  align-items: center;

  .item {
    object-fit: contain;
  }

  &:not(.dialog) .item {
    cursor: pointer;
  }
}

.carousel.dialog {
  .item {
    width: 100%;
    height: 90vh;
    object-fit: contain;
  }

  .pagination {
    margin-top: 1rem;
  }
}

:host-context(.t-content) {
  padding: 0;
  background-color: aqua;
}

.t-content {
  padding: 0;
  background-color: aqua;
}
