<div class="catalog-page">
  <ec-breadcrumps [navigation$]="navigationArray$" class="breadcrumbs" />
  <tui-island class="side-panel" size="s">
    <ec-categories-list class="categories__list" />
  </tui-island>
  <button
    tuiButton
    type="button"
    (click)="toggleSidebar(true)"
    (tuiActiveZoneChange)="toggleSidebar($event)"
    class="side-bar-button"
  >
    Show sidebar
    <div *tuiSidebar="isSidebarOpen; direction: 'right'">
      <ec-categories-list class="categories__list" />
    </div>
  </button>
  <ec-products-list [products$]="products$" [isProductsLoading$]="isProductsLoading$" class="products__list" />
</div>
