<div class="price" *ngIf="prices">
  <ng-container *ngIf="prices.discounted; else noDiscount">
    <tui-money
      [singleColor]="true"
      class="price--discount tui-island__paragraph"
      currency="USD"
      [value]="prices.discounted"
    />
    <tui-money
      [singleColor]="true"
      class="price--inactive tui-island__paragraph"
      currency="USD"
      [value]="prices.default"
    />
  </ng-container>

  <ng-template #noDiscount>
    <tui-money [singleColor]="true" class="price--default" currency="USD" [value]="prices.default" />
  </ng-template>
</div>
