.price {
  * {
    margin-left: 0.5rem;
  }

  &--inactive {
    font-size: 1rem;
    font-weight: lighter;
    color: var(--tui-text-01);
    text-decoration: line-through;
  }

  &--discount {
    font-size: 1.4rem;
    font-weight: bolder;
    color: var(--tui-text-04);
  }

  &--default {
    font-size: 1.4rem;
    font-weight: bolder;
    color: var(--tui-text-04);
  }
}
