<tui-island class="shadow-block">
  <div class="total-cost-container">
    <p class="tui-island__paragraph">Total:</p>
    <tui-money currency="USD" [value]="(totalPrice$ | async) || 0"></tui-money>
  </div>
  <form class="cost-form tui-space_top-3" [formGroup]="discountForm">
    <tui-input class="cost-form__input" formControlName="discountValue">
      Discount code
      <input tuiTextfield />
    </tui-input>
    <button tuiButton appearance="secondary" type="button" class="tui-space_left-3">Apply</button>
  </form>

  <div *tuiLet="discountsData$ | async as discountsData">
    <ng-container *ngIf="discountsData?.cartDiscounts as cartDiscounts">
      <ng-container *ngFor="let discount of cartDiscounts">
        <tui-tag
          *ngIf="discountsData?.discounts?.[discount.id] as codeInfo"
          [value]="codeInfo.code"
          [status]="discount.isActive ? 'success' : 'error'"
          [removable]="true"
          [hoverable]="true"
          tuiDropdownHover
          [tuiDropdown]="codeInfo.description"
          (edited)="removeDiscountCode(discount.id)"
          size="l"
          class="tui-space_left-3 tui-space_top-3"
        />
      </ng-container>
    </ng-container>
  </div>

  <button appearance="primary" size="l" tuiButton type="button" class="tui-island__footer-button">Checkout</button>
</tui-island>
