.main {
  &__header {
    max-width: 80vw;
    margin: auto;
  }

  &__heading {
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    max-width: 1400px;
    margin: 4rem auto;
  }

  .icon {
    margin-bottom: 1rem;
  }
}

@media (width <= 1400px) {
  .main {
    .container {
      max-width: 90vw;
    }
  }
}

@media (width <= 1000px) {
  .main {
    .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (width <= 475px) {
  .main {
    .container {
      grid-template-columns: 1fr;
    }
  }
}
